<div class="app">

  <div class="app-toollbar">

    <mat-toolbar color="primary">

      <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>

      <span class="hide-tabs ml-2r mr-2r">Effective-Mobile</span>

      <div class="app-toolbar-menu show-menu hide-menu">

        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Authorize</span>
          </button>

          <button mat-menu-item>
            <mat-icon>peaker_notes</mat-icon>
            <span>Posts</span>
          </button>

        </mat-menu>

      </div>

      <div class="app-toolbar-tabs hide-tabs">
        <a mat-button color="accent" routerLink="/authorize" routerLinkActive="active">Authorize</a>
        <a mat-button color="accent" routerLink="/posts" routerLinkActive="active">Posts</a>
      </div>

    </mat-toolbar>

    <div>


    </div>

  </div>

  <router-outlet></router-outlet>

</div>
