.app{


}

.app-toolbar{

    position:sticky;

}

.app-toolbar-accmenu {
}

.app-toolbar-spacer {
    flex: 1 1 auto;
}


@media(max-width:599px){

  .hide-tabs {
    display: none;
  }
    

  .show-menu {
    display: inline;
    
  }
}

@media(min-width:600px){

   .hide-menu{

       display:none;

   }

}

.active {
  background: #3f3a8c;
}



