@media(max-width:599px){

  .hide-tabs {
    display: none;
  }
    

  .show-menu {
    display: inline;
    
  }
}

@media(min-width:600px){

   .hide-menu{

       display:none;

   }

}

.active {
  background: #3f3a8c;
}

