@import '../../styles.css';

.posts-table-post {
  background: linear-gradient(#583b63,#1d5432);
  max-width: 400px;
  cursor:pointer;
}


  .posts-table-post:hover {
    transition-property: background;
    transition-duration: 0.5s;
    background: #33183d;
  }


    .posts-table-post-content{

        color:var(--main-color-second)

    }
